@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap')
body
    font-family: Raleway

#shadow-style-1
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px    


#nutrition-information
    display: flex
    flex-direction: column
    width: 200px

    input
        @extend #shadow-style-1
        margin-top: 10px
        border-radius: 20px
        outline: none
        padding: 10px
        border: none

    label
        margin-top: 20px